<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping.webp">
        <div class="card-body">
          <h5 class="card-title">Arroz Qualitá</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">R$ 10,00</h6>
          <div class="container">
            <a href="#" class="btn-primary d-flex justify-container-center" (click)="Comprar()">Comprar</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping (1).webp">
        <div class="card-body">
          <h5 class="card-title">Feijão Camil</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">R$ 8,00</h6>
          <div class="container">
            <a href="#" class="btn-primary d-flex justify-container-center" (click)="Comprar()">Comprar</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping (2).webp">
        <div class="card-body">
          <h5 class="card-title">Pacote Tomate Pra Valer</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">R$ 9,00</h6>
          <div class="container">
            <a href="#" class="btn-primary d-flex justify-container-center" (click)="Comprar()">Comprar</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping (3).webp">
        <div class="card-body">
          <h5 class="card-title">Frango Seara</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">R$ 12,00</h6>
          <div class="container">
            <a href="#" class="btn-primary d-flex justify-container-center" (click)="Comprar()">Comprar</a>
          </div>
        </div>
      </div>
</div>
